<nav class="bottom-nav">
  <a href="#" class="nav-item active">
    <i class="nav-icon stats-icon"></i>
    <span class="nav-text">통계</span>
  </a>
  <a href="#" class="nav-item">
    <i class="nav-icon ledger-icon"></i>
    <span class="nav-text">가계부</span>
  </a>
  <a href="#" class="nav-item">
    <i class="nav-icon budget-icon"></i>
    <span class="nav-text">예산관리</span>
  </a>
  <a href="#" class="nav-item">
    <i class="nav-icon more-icon"></i>
    <span class="nav-text">더 보기</span>
  </a>
</nav>