<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tft.forthefuture.User.Mapper.UserMapper">
    <select id="findAllUsers" resultType="User">
        SELECT * FROM users
    </select>

    <select id="findById" parameterType="Long" resultType="User">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="User">
        INSERT INTO users (username, password, name, nickname, email, created_at, updated_at)
        VALUES (#{username}, #{password}, #{name}, #{nickname}, #{email}, #{createdAt}, #{updatedAt})
    </insert>

    <select id="findByUsername" parameterType="String" resultType="com.tft.forthefuture.User.Vo.User">
        SELECT id, username, password, nickname, name, email, created_at, updated_at
        FROM users
        WHERE username = #{username}
    </select>

    <update id="updateUser" parameterType="com.tft.forthefuture.User.Vo.User">
        UPDATE users
        SET
            name = #{name},
            nickname = #{nickname},
            email = #{email},
            password = #{password},
            updated_at = NOW()
        WHERE id = #{id}
    </update>
</mapper>